<div class="taskbar">
    <div class="taskbar-items-left">
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/win11-home.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/search.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/taskview.png" alt="home">
        </div>
    </div>
    <div class="taskbar-items-middle">
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/folder.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/gitpod.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/edge.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/vscode.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/teams.png" alt="home">
        </div>
    </div>
    <div class="taskbar-items-right">
        <img src="../../../assets/img/rightside-temp.png" alt="home">
    </div>
</div>
