<div class="taskbar">
    <div class="taskbar-items-left">
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/win11-home.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/search.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/taskview.png" alt="home">
        </div>
    </div>
    <div class="taskbar-items-middle">
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/folder.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/gitpod.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/edge.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/vscode.png" alt="home">
        </div>
        <div class="taskbar-tabs">
            <img src="../../../assets/icons/teams.png" alt="home">
        </div>
    </div>
    <div class="taskbar-items-right">
        <div class="taskbar-additional-items">
            <img src="../../../assets/icons/chevron-up.png" alt="home">
        </div>
        <div class="taskbar-control-items">
            <img src="../../../assets/icons/wifi.png" alt="home">
            <img src="../../../assets/icons/audio.png" alt="home">
            <img src="../../../assets/icons/battery.png" alt="home">
        </div>
        <div class="taskbar-side-panel">
            <span class="taskbar-side-panel-time">
                11:17
            </span>
            <span class="taskbar-side-panel-date">
                2022/07/13
            </span>
        </div>
    </div>
</div>