:host{
    position: fixed;
    top: 0;
    left: 0;

    .resizable-draggable {
        //border: 2px solid white;
        background-color: white;
/*         &.active {
            outline-style: solid;
            background-color: #80ff800d;
        } */
    
        &:hover {
            cursor: all-scroll;
        }
    }
    
    .resize-action {
        position: absolute;
        left: 100%;
        top: 100%;
        transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
        //border-style: solid;
        //border-width: 8px;
        border-color: white;
        &:hover, &:active {
            cursor: nwse-resize;
        }
    }
}