/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-image: url('./assets/img/background-1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}